<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.lost_found.mapper.GoodsLostMapper">
    <insert id="add">
        insert into goods_lost (lost_and_report_id, image_url)
        values (#{id}, #{imageUrl});
    </insert>

    <select id="getById" resultType="java.lang.String">
        select image_url
        from goods_lost
        where lost_and_report_id = #{id};
    </select>
</mapper>