<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.lost_found.mapper.UserMapper">
    <insert id="addUser">
        insert
        user (id, username, password, phone, wechat_id, role, gender, avatar, created_at) values (null,
        #{username},
        #{password},
        #{phone},
        #{wechatId},
        #{role},
        #{gender},
        #{avatar},
        #{createdAt}
        );
    </insert>
    <update id="updateAvatar">
        update user
        set avatar = #{avatar}
        where id = #{id};
    </update>
    <update id="update">
        update user
        set wechat_id = #{wechatId},
            gender    = #{gender}
        where id = #{id};
    </update>
    <update id="unBindPhone">
        update user
        set phone = null
        where phone = #{phone};
    </update>
    <update id="bindPhone">
        update user
        set phone = #{phone}
        where id = #{id};
    </update>

    <select id="selectByUsername" resultType="com.demo.lost_found.pojo.User">
        select *
        from user
        where username = #{username}
          and role = #{role};
    </select>

    <select id="selectByPhone" resultType="com.demo.lost_found.pojo.User">
        select *
        from user
        where phone = #{phone}
          and role = 'user'
    </select>

    <select id="selectByUsernameAllRole" resultType="com.demo.lost_found.pojo.User">
        select *
        from user
        where username = #{username};
    </select>
</mapper>